<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>	
		<title>Tau Web-Crawler</title>
	</head>
	<body>
		<p>
			<form id="crawler-input-form">
				<p>
					<label>Starting URL</label>
					<input type="text" id="starting-url"/>
				</p>
				<p>
					<label>Recursion Limit</label>
					<input type="text" id="recursion-limit"/>
				</p>
				<p>
					<label>Search Type</label>
					<select id="search-type" form="crawler-input-form">
						<option value="bfs">Breadth-first</option>
						<option value="dfs">Depth-first</option>
					</select>
				</p>
			</form>
			<button id="submit-crawl">Crawl!</button>
		</p>
		<p><canvas id="viewport" width="800" height="600" style="border:0.5px solid grey"></canvas>
		<p><label id="mouseover-link">Site:</label>
		<p><input type="text" id="keyword-search" size="64" placeholder="graph keyword search"/><input type="button" id="btn-keyword-search" value="search"></input>
		<script src="static/arbor/lib/arbor.js"></script>
		<script src="static/arbor/lib/arbor-tween.js"></script>
		<script src="static/arbor/lib/arbor-graphics.js"></script>
		<script src="static/main.js"></script>
	</body>
</html>
